/* common shared styles */
.btn-primary{
    background-color: #FD6E0A;
    color:#fff;
    font-size: 20px;
    border:none;
    padding:15px 30px;
    border-radius: 5px;
    font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;

}
.about-title{
    font-size: 35px;
    font-weight: 700;
}
.header{
    background-image: url("../images/header_bg.png"),url("../images/developer.png");
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    background-position:bottom right,top left;
    margin-bottom: 50px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 100px 0px 100px;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;

   
}
.single-r{
    color:#FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size:45px;
}
nav li a{
    text-decoration: none;
    font-size:20px;
    color:#474747;
}
/* Banner styles */
.btn-second{
    background-color: #fff;
    color:#FD6E0A;
    font-size: 20px;
    border:1px solid #FD6E0A;
    padding:15px 30px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 25px;

}
.banner{
    display: flex;
    align-items: center;
    padding:30px 30px 0px 100px;
  
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
    color:#474747;
}
.banner-intro{
    font-size: 80px;
    font-weight: 800;
    margin-top:0px;
    margin-bottom:0px;
}
.banner-description{
    font-size:18px;
    color:#757575;
}
main{
    width:1140px;
    margin:0 auto;
}
.about{
    text-align: center;
    background-color: #FFF8F3;
    padding:100px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-title{
    font-size:20px;
    font-weight: 400;
    color:#181818;
    margin-bottom:0px;
}
.about-info-description{
    font-size: 20px;
    font-weight: 800;
    margin-top:0px;
}

